body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:midnightblue;
    text-align: center;

    background-image: url('cshatter.jpg');
    background-size: 100%;
    background-attachment: fixed;
}

h1, h3, p {
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255,255,255,.8);
}

button {
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: coral;
    border: none;
}

button a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#jel {
    font-weight: bold;
    color: red;
}